section {
  background-color: #a5d6a7;
}
h1 {
  background-color: #4dd0e1;
}
section p {
  background-color: #c5cae8;
}
article {
  background-color: #f48fb1;
}
h2 {
  background-color: #7986cb;
}
article p {
  background-color: #ff8a65;
}
button {
  background-color: #304ffe;
  color: white;
}
